<!-- Address line one -->
<div class="form-group row">
    <label for="{{id}}_address_1" class="form-control-label col-md-4">{{$root.STATICUITEXT.ADDRESS1}}*</label>
    <div class="col-md-8">
        <input id="{{id}}_address_1"
               name="{{id}}_address_1"
               type="text"
               class="form-control"
               data-ng-model="address.address1"
               data-ng-change="change()"
               required>
    </div>
</div>

<!-- Address line two -->
<div class="form-group row">
    <label for="{{id}}_address_2" class="form-control-label col-md-4">{{$root.STATICUITEXT.ADDRESS2}}</label>
    <div class="col-md-8">
        <input id="{{id}}_address_2"
               name="{{id}}_address_2"
               type="text"
               class="form-control"
               data-ng-model="address.address2"
               data-ng-change="change()">
    </div>
</div>

<!-- City -->
<div class="form-group row">
    <label for="{{id}}_city" class="form-control-label col-md-4">{{$root.STATICUITEXT.CITY}}*</label>
    <div class="col-md-8">
        <input id="{{id}}_city"
               name="{{id}}_city"
               type="text"
               class="form-control"
               data-ng-model="address.city"
               data-ng-change="change()"
               required>
    </div>
</div>

<!-- State -->
<div class="form-group row">
    <label for="{{id}}_state" class="form-control-label col-md-4">{{$root.STATICUITEXT.STATE}}</label>
    <div class="col-md-8" data-ng-if="isUnitedStates">
        <select id="{{id}}_state"
                name="{{id}}_state"
                class="form-control"
                data-ng-model="address.state"
                data-ng-change="change()"
                data-ng-options="state.id as state.name for state in usStates"
                required>
            <option value="">{{$root.STATICUITEXT.STATESELECT}}</option>
        </select>
    </div>
    <div class="col-md-8" data-ng-if="!isUnitedStates">
        <input id="{{id}}_state"
               name="{{id}}_state"
               type="text"
               class="form-control"
               data-ng-model="address.state"
               data-ng-change="change()">
    </div>
</div>

<!-- Postal code -->
<div class="form-group row">
    <label for="{{id}}_postal_code" class="form-control-label col-md-4">{{$root.STATICUITEXT.ZIPCODE}}*</label>
    <div class="col-md-8">
        <input id="{{id}}_postal_code"
               name="{{id}}_postal_code"
               type="text"
               class="form-control"
               data-ng-model="address.zipcode"
               data-ng-pattern="postalCodePattern"
               data-ng-change="change()"
               required>
    </div>
</div>

<!-- Country -->
<div class="form-group row">
    <label for="{{id}}_country" class="form-control-label col-md-4">{{$root.STATICUITEXT.COUNTRY}}*</label>
    <div class="col-md-8">
        <select id="{{id}}_country"
                name="{{id}}_country"
                class="form-control"
                data-ng-model="country"
                data-ng-change="countryChange()"
                data-ng-options="country.name for country in countries">
        </select>
    </div>
</div>

<!-- Phone -->
<div class="form-group row">
    <label for="{{id}}_phone" class="form-control-label col-md-4">{{$root.STATICUITEXT.PHONE}}</label>
    <div class="col-md-8">
        <input id="{{id}}_phone"
               name="{{id}}_phone"
               type="text"
               class="form-control"
               data-ng-model="address.phone"
               data-ng-change="change()">
    </div>
</div>
